$control-height: 4.8rem;
$control-radius: .4rem;
$control-padding-x: 1.4rem;
$control-padding-y: 1rem;
$control-font-size: 1.4rem;
$control-line-height: $control-font-size * 1.2;

.wrapper {
  display: flex;
  position: relative;
  vertical-align: top;
  flex-direction: column;
  &:focus-within {
    .label {
      $transform-padding-x: .5rem;
      $transform-scale: .75;
      color: #333;
      padding: 0 .5rem;
      transform: translate($control-padding-x - ($transform-padding-x * 2), $transform-scale * -1rem) scale($transform-scale);
    }
  }
}

.content {
  display: inline-flex;
  flex: 1;
  display: block;
}

.label {
  background: white;
  color: #777;
  font-size: $control-font-size;
  left: 0;
  top: 0;
  position: absolute;
  transform: translate($control-padding-x, $control-line-height) scale(1);
  transition: all ease-in 100ms;
  z-index: 1;
}

.backdrop {
  border: 1px solid #ccc;
  border-radius: $control-radius;
  inset: 0;
  position: absolute;
  transition: all ease 200ms;
}

.input {
  background: none;
  border: 0;
  display: block;
  font-size: $control-font-size;
  height: $control-height;
  line-height: $control-line-height;
  padding: $control-padding-y $control-padding-x;
  position: relative;
  width: 100%;
  z-index: 1;
  &:focus {
    outline: 0;
    & + .backdrop {
      border: 1px solid #999;
    }
  }
}